<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Action</servlet-name>
        <servlet-class>com.test.servlet.Action</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Close</servlet-name>
        <servlet-class>com.test.servlet.Close</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Redirection</servlet-name>
        <servlet-class>com.test.servlet.Redirection</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>redirect</servlet-name>
        <servlet-class>com.test.servlet.redirect</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Redirectcliente</servlet-name>
        <servlet-class>com.test.servlet.Redirectcliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Direccion</servlet-name>
        <servlet-class>com.test.servlet.Direccion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Rutaproducto</servlet-name>
        <servlet-class>com.test.servlet.Rutaproducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>rutaproducto</servlet-name>
        <servlet-class>com.test.servlet.Rutaproducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Rutaproveedor</servlet-name>
        <servlet-class>com.test.servlet.Rutaproveedor</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Action</servlet-name>
        <url-pattern>/action</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Close</servlet-name>
        <url-pattern>/close</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Redirection</servlet-name>
        <url-pattern>/redirection</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>redirect</servlet-name>
        <url-pattern>/redirect</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Redirectcliente</servlet-name>
        <url-pattern>/redirectcliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Direccion</servlet-name>
        <url-pattern>/direccion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Rutaproducto</servlet-name>
        <url-pattern>/rutaproducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>rutaproducto</servlet-name>
        <url-pattern>/Rutaproducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Rutaproveedor</servlet-name>
        <url-pattern>/rutaproveedor</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>loginBrisis.html</welcome-file>
    </welcome-file-list>
</web-app>
